# Source files
src/**
test-nuxt/**
test-cshtml/**
.vscode/**
.vscode-test/**

# Build configuration
tsconfig.json

# Git
.git
.gitignore
.gitattributes

# CI/CD
.github/**

# Dependencies
node_modules
pnpm-lock.yaml

# Linting and formatting
.editorconfig

# Husky and git hooks
.commitlintrc*

# Testing
**/.test.*
**/test/**
**/*.test.js
**/*.test.ts

# Misc
*.vsix
.DS_Store
